<?xml version="1.0"?>
<!-- OpenManipulator Chain -->
<robot name="open_manipulator_x"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find open_manipulator_x_description)/urdf/materials.xacro" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:if value="$(arg gazebo)">
    <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x.gazebo.xacro" />
  </xacro:if>

  <xacro:unless value="$(arg gazebo)">
    <xacro:include filename="$(find open_manipulator_x_description)/urdf/real_control.xacro" />
  </xacro:unless>

  <!-- Import URDF -->
  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x.urdf.xacro" />

  <!-- World -->
  <link name="world"/>

  <!-- World fixed joint-->
  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="link1"/>
  </joint>


</robot>
